* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-movie-section {
  background-color: black;
  min-height: 80vh;
  color: white;
  padding: 20px;
}

.heading {
 margin-left: 20px;
 margin-top: 16px;
 cursor: pointer;
}

.heading h2 {
  color: white;
  font-size: 24px;
}

.heading h2:hover {
  text-decoration: underline;
}

.movies-row {
  display: flex;
  width: 100%;
  gap: 15px;
  margin: 6px 0px;
  overflow: hidden;
}
.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: transparent;
  width: 45px;
  height: 62px;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.arrow-btn:first-of-type {
  left: 6px;
}

.arrow-btn:last-of-type {
  right: 6px;
}


.movie-card {
    width: calc(33.33% - 20px);
    border: none;
    overflow: hidden;
    background-color: black;
}

.movie-card-img {
  position: relative;
}

.movie-card-img:hover .play-icon {
  color: rgb(199, 142, 58);
}

.movie-card-img-top {
     width: 100%;
     height: 260px;
     object-fit: cover;
     cursor: pointer;
     border-radius: 10px;
     
}

.play-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  width: 30px;
  height: 30px;
  cursor: pointer;
}  

.movie-card-body {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  background-color: black;
  margin-top: 10px;
}

.card-details {
  cursor: pointer;
}

.card-details:hover {
  h5 {
    text-decoration: underline;
  }
}



.card-details span {
  font-size: 16px;
  color: rgb(169, 173, 173);
  font-weight: 600;
}

.card-details h5 {
  font-size: 16px;
}
.slider-wrapper {
  position: relative;
  overflow: hidden;
}